astropy==7.2.0
astropy-iers-data==0.2026.3.23.0.51.38
boto3==1.42.75
botocore==1.42.75
certifi==2026.2.25
charset-normalizer==3.4.6
contourpy==1.3.3
cycler==0.12.1
eazy==0.8.5
fonttools==4.62.1
grizli==1.13.9
idna==3.11
jmespath==1.1.0
kiwisolver==1.5.0
matplotlib==3.10.8
# msaexp @ git+https://github.com/gbrammer/msaexp.git@0633cbb2776382f1f46b06688a04f58c33bc626a
numba==0.64.0
numpy==1.26.4
packaging==26.0
pandas==3.0.1
pillow==11.2.1
psycopg2-binary==2.9.11
pyerfa==2.0.1.5
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
s3transfer==0.16.0
scipy==1.17.1
shapely==2.1.2
six==1.17.0
SQLAlchemy==2.0.48
sregion==1.7
tqdm==4.67.3
typing_extensions==4.15.0
unik==1.0
urllib3==2.6.3
